body{
	font-family: "微软雅黑"!important;
}

ul{
	margin: 0;
	padding: 0;
}

p{
	font-size:14px!important;
}

.explain_p{
	color: #cccccc;
}

.left-nav{
	width: 13%;
	min-width: 180px;
	display: inline-block;
}

.right-body{
	display: inline-block;
	width: 86.4%;
	min-width: 1000px;
	height:100%;
	background-color: #F6F6F6;
	vertical-align: top;
	padding: 30px 20px;
	margin-left:-5px;
}

.content{
	background-color: #fff;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.13);
	padding:5px;
}

.input-400{
	display: inline-block;
	width: 400px;
}

.input-200{
	display: inline-block;
	width: 200px;
}

.form_container{
	margin-left: 10px;
}

.form-control{
	display: inline-block;
}

.title{
	font-size:16px!important;
	font-weight: bold!important;
	font-family: "微软雅黑"!important;
}

.nav-top{
	width: 100%;
	height: 100px;
	background-color: lightcoral;
	text-align: center;
	vertical-align: middle;
}

.input_label{
	display: inline-block;
	width: 70px;
	margin-right: 20px;
	margin-top:20px;
}

.input_content{
	width:280px;
	display: inline-block;
	margin-top:20px;
}

.checkbox_container{
	margin-right: 20px;
	display: inline-block;
}

.checkbox{
	margin-right: 10px!important;
	display: inline-block!important;
}



