body{
	font-family: "微软雅黑"!important;
}

ul{
	margin: 0;
	padding: 0;
}

p{
	font-size:14px!important;

}

.left-nav{
	width: 13%;
	display: inline-block;
}

.right-body{
	display: inline-block;
	width: 86.4%;
	height:100%;
	background-color: #F6F6F6;
	vertical-align: top;
	padding: 30px 20px;
	margin-left:-5px;
}

.content{
	background-color: #fff;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.13);
	padding:5px;
}

.form-control{
	display: inline-block;
	width: 200px;
}

.title{
	font-size:16px!important;
	font-weight: bold!important;
	font-family: "微软雅黑"!important;
}

.nav-top{
	width: 100%;
	height: 100px;
	background-color: lightcoral;
	text-align: center;
	vertical-align: middle;
}

.input_label{
	width:100%;
	display: inline-block;
	margin-right: 20px;
	margin-top:20px;
}

.input_content{
	width:280px;
	display: inline-block;
	margin-top:20px;

}

.detailLogContainer{
	width: 100%;
	height:250px;
}
