.left-nav-container{
    height: 100%;
    background-color: rgb(39, 41, 48);
}

#left-user-info{
    width:100%;
    height:100px;
    color:#fff;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    line-height: 100px;
}

#left-nav-accordion ul{

}

.parent{
    border-top: 1px solid #1a1c20;
    line-height: 40px;
    color: #c9d4f6;
    font-size: 14px;
    font-weight: 300;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    white-space: nowrap;
}

.parent .icon{
    margin-left: 20px;
}

.parent span{
    margin-left: 20px;
}

.parent .arrow{
    margin-top: 10px;
    float: right;
    margin-right: 20px;
}

.parent ul{
    display: none;
}

.child{
    background-color: #1A1C20;
}

.child-open{
    border-left:1px solid #2494F2;
}

.child span{
    margin-left: 68px;
}