#filter_container {
    width:100%;
    height:280px;
    padding: 10px;
}

.logCointainer{
    width: 100%;
    height:100px;
    margin-top: 30px;
    position: relative;
}

.typeContainer{
    color: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

.simpleLogInfo{
    position: absolute;
    left: 130px;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: left;
}

.logTimeContainer{
    color :#777;
    font-size:12px !important;
    margin-top: 10px;
    margin-bottom: 15px;
}

.slideLogBtn{
    position: absolute;
    right: 15px;
    bottom: 15px;
}
