<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nju.edu.cn.pepple.mapper.history_statistic.ServiceStatisticDayMapper">
  <resultMap id="BaseResultMap" type="nju.edu.cn.pepple.vo.ServiceStatisticVO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="service" jdbcType="VARCHAR" property="service" />
    <result column="system" jdbcType="VARCHAR" property="system" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="average_access_time" jdbcType="INTEGER" property="averageAccessTime" />
    <result column="error_count" jdbcType="BIGINT" property="errorCount" />
    <result column="no_response_count" jdbcType="BIGINT" property="noResponseCount" />
    <result column="slow_count" jdbcType="BIGINT" property="slowCount" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="access_count" jdbcType="BIGINT" property="accessCount" />
  </resultMap>
  <sql id="Base_Column_List">
    id, service, system, date, average_access_time, error_count, no_response_count, slow_count, 
    add_time, access_count
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from service_statistic_day
    where id = #{id,jdbcType=BIGINT}
  </select>

  <insert id="insert" parameterType="nju.edu.cn.pepple.vo.ServiceStatisticVO">
    insert into service_statistic_day (id, service, system, 
      date, average_access_time, error_count, 
      no_response_count, slow_count, add_time, 
      access_count)
    values (#{id,jdbcType=BIGINT}, #{service,jdbcType=VARCHAR}, #{system,jdbcType=VARCHAR}, 
      #{date,jdbcType=DATE}, #{averageAccessTime,jdbcType=INTEGER}, #{errorCount,jdbcType=BIGINT}, 
      #{noResponseCount,jdbcType=BIGINT}, #{slowCount,jdbcType=BIGINT}, #{addTime,jdbcType=TIMESTAMP}, 
      #{accessCount,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="nju.edu.cn.pepple.vo.ServiceStatisticVO">
    insert into service_statistic_day
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="service != null">
        service,
      </if>
      <if test="system != null">
        system,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="averageAccessTime != null">
        average_access_time,
      </if>
      <if test="errorCount != null">
        error_count,
      </if>
      <if test="noResponseCount != null">
        no_response_count,
      </if>
      <if test="slowCount != null">
        slow_count,
      </if>

      <if test="accessCount != null">
        access_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="service != null">
        #{service,jdbcType=VARCHAR},
      </if>
      <if test="system != null">
        #{system,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=DATE},
      </if>
      <if test="averageAccessTime != null">
        #{averageAccessTime,jdbcType=INTEGER},
      </if>
      <if test="errorCount != null">
        #{errorCount,jdbcType=BIGINT},
      </if>
      <if test="noResponseCount != null">
        #{noResponseCount,jdbcType=BIGINT},
      </if>
      <if test="slowCount != null">
        #{slowCount,jdbcType=BIGINT},
      </if>

      <if test="accessCount != null">
        #{accessCount,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>