<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nju.edu.cn.pepple.mapper.history_statistic.ServiceMaxMapper">
  <resultMap id="BaseResultMap" type="nju.edu.cn.pepple.vo.ServiceMaxVO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="service" jdbcType="VARCHAR" property="service" />
    <result column="system" jdbcType="VARCHAR" property="system" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="access_count" jdbcType="BIGINT" property="accessCount" />
    <result column="access_count_second" jdbcType="VARCHAR" property="accessCountSecond" />
    <result column="average_access_time" jdbcType="BIGINT" property="averageAccessTime" />
    <result column="average_access_time_second" jdbcType="VARCHAR" property="averageAccessTimeSecond" />
    <result column="error_count" jdbcType="INTEGER" property="errorCount" />
    <result column="error_count_second" jdbcType="VARCHAR" property="errorCountSecond" />
    <result column="no_response_count" jdbcType="INTEGER" property="noResponseCount" />
    <result column="no_response_count_second" jdbcType="VARCHAR" property="noResponseCountSecond" />
    <result column="slow_count" jdbcType="INTEGER" property="slowCount" />
    <result column="slow_count_second" jdbcType="VARCHAR" property="slowCountSecond" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, service, system, date, access_count, access_count_second, average_access_time, 
    average_access_time_second, error_count, error_count_second, no_response_count, no_response_count_second, 
    slow_count, slow_count_second, add_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from service_max
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from service_max
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="nju.edu.cn.pepple.vo.ServiceMaxVO">
    insert into service_max (id, service, system, 
      date, access_count, access_count_second, 
      average_access_time, average_access_time_second, 
      error_count, error_count_second, no_response_count, 
      no_response_count_second, slow_count, slow_count_second, 
      add_time)
    values (#{id,jdbcType=BIGINT}, #{service,jdbcType=VARCHAR}, #{system,jdbcType=VARCHAR}, 
      #{date,jdbcType=DATE}, #{accessCount,jdbcType=BIGINT}, #{accessCountSecond,jdbcType=VARCHAR}, 
      #{averageAccessTime,jdbcType=BIGINT}, #{averageAccessTimeSecond,jdbcType=VARCHAR}, 
      #{errorCount,jdbcType=INTEGER}, #{errorCountSecond,jdbcType=VARCHAR}, #{noResponseCount,jdbcType=INTEGER}, 
      #{noResponseCountSecond,jdbcType=VARCHAR}, #{slowCount,jdbcType=INTEGER}, #{slowCountSecond,jdbcType=VARCHAR}, 
      #{addTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="nju.edu.cn.pepple.vo.ServiceMaxVO">
    insert into service_max
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="service != null">
        service,
      </if>
      <if test="system != null">
        system,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="accessCount != null">
        access_count,
      </if>
      <if test="accessCountSecond != null">
        access_count_second,
      </if>
      <if test="averageAccessTime != null">
        average_access_time,
      </if>
      <if test="averageAccessTimeSecond != null">
        average_access_time_second,
      </if>
      <if test="errorCount != null">
        error_count,
      </if>
      <if test="errorCountSecond != null">
        error_count_second,
      </if>
      <if test="noResponseCount != null">
        no_response_count,
      </if>
      <if test="noResponseCountSecond != null">
        no_response_count_second,
      </if>
      <if test="slowCount != null">
        slow_count,
      </if>
      <if test="slowCountSecond != null">
        slow_count_second,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="service != null">
        #{service,jdbcType=VARCHAR},
      </if>
      <if test="system != null">
        #{system,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=DATE},
      </if>
      <if test="accessCount != null">
        #{accessCount,jdbcType=BIGINT},
      </if>
      <if test="accessCountSecond != null">
        #{accessCountSecond,jdbcType=VARCHAR},
      </if>
      <if test="averageAccessTime != null">
        #{averageAccessTime,jdbcType=BIGINT},
      </if>
      <if test="averageAccessTimeSecond != null">
        #{averageAccessTimeSecond,jdbcType=VARCHAR},
      </if>
      <if test="errorCount != null">
        #{errorCount,jdbcType=INTEGER},
      </if>
      <if test="errorCountSecond != null">
        #{errorCountSecond,jdbcType=VARCHAR},
      </if>
      <if test="noResponseCount != null">
        #{noResponseCount,jdbcType=INTEGER},
      </if>
      <if test="noResponseCountSecond != null">
        #{noResponseCountSecond,jdbcType=VARCHAR},
      </if>
      <if test="slowCount != null">
        #{slowCount,jdbcType=INTEGER},
      </if>
      <if test="slowCountSecond != null">
        #{slowCountSecond,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="nju.edu.cn.pepple.vo.ServiceMaxVO">
    update service_max
    <set>
      <if test="service != null">
        service = #{service,jdbcType=VARCHAR},
      </if>
      <if test="system != null">
        system = #{system,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=DATE},
      </if>
      <if test="accessCount != null">
        access_count = #{accessCount,jdbcType=BIGINT},
      </if>
      <if test="accessCountSecond != null">
        access_count_second = #{accessCountSecond,jdbcType=VARCHAR},
      </if>
      <if test="averageAccessTime != null">
        average_access_time = #{averageAccessTime,jdbcType=BIGINT},
      </if>
      <if test="averageAccessTimeSecond != null">
        average_access_time_second = #{averageAccessTimeSecond,jdbcType=VARCHAR},
      </if>
      <if test="errorCount != null">
        error_count = #{errorCount,jdbcType=INTEGER},
      </if>
      <if test="errorCountSecond != null">
        error_count_second = #{errorCountSecond,jdbcType=VARCHAR},
      </if>
      <if test="noResponseCount != null">
        no_response_count = #{noResponseCount,jdbcType=INTEGER},
      </if>
      <if test="noResponseCountSecond != null">
        no_response_count_second = #{noResponseCountSecond,jdbcType=VARCHAR},
      </if>
      <if test="slowCount != null">
        slow_count = #{slowCount,jdbcType=INTEGER},
      </if>
      <if test="slowCountSecond != null">
        slow_count_second = #{slowCountSecond,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="nju.edu.cn.pepple.vo.ServiceMaxVO">
    update service_max
    set service = #{service,jdbcType=VARCHAR},
      system = #{system,jdbcType=VARCHAR},
      date = #{date,jdbcType=DATE},
      access_count = #{accessCount,jdbcType=BIGINT},
      access_count_second = #{accessCountSecond,jdbcType=VARCHAR},
      average_access_time = #{averageAccessTime,jdbcType=BIGINT},
      average_access_time_second = #{averageAccessTimeSecond,jdbcType=VARCHAR},
      error_count = #{errorCount,jdbcType=INTEGER},
      error_count_second = #{errorCountSecond,jdbcType=VARCHAR},
      no_response_count = #{noResponseCount,jdbcType=INTEGER},
      no_response_count_second = #{noResponseCountSecond,jdbcType=VARCHAR},
      slow_count = #{slowCount,jdbcType=INTEGER},
      slow_count_second = #{slowCountSecond,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>